@media screen and (max-width:768px ) {

    .content {text-align: center;}

    .image-wrapper img {width: 100%;}

    .resp {display: none;}

    .undercard {margin-bottom: 30px;}

    .card-home {margin-top: 20px;}

   .booking-btn {text-align: center;margin-top: 20px;}

   .booking{text-align: center;}

   .home-img img{width: 100%;}

   .customer .special li {margin-left: -12px ;}

   .disc li {margin-left: -12px;}

   .map iframe {width: 100%;}

   .feedback textarea {width: 100%;}

}